<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>New Ticket Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <hr>
    <h1>Employee Portal</h1>
    <hr>
    <h3>Create a new Ticket</h3>
    <br>

    <form action="#" th:action="@{/createTicket/{username}(username=${#authentication.getPrincipal().getUsername()})}" th:object="${ticket}" method="POST">
        <input type="text" th:field="*{issue}" placeholder="issue" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save Ticket</button>
    </form>

    <hr>

    <a th:href="@{/employee/ticket/{username}(username=${#authentication.getPrincipal().getUsername()})}"> Back to Tickets List</a>
</div>
</body>

</html>